<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>醫快拍App</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="login-container">
        <div class="form-card">
            <h2>帳號密碼登入</h2>
            <form method="post" action="/api/auth/sign-in" id="login_form">
                <label for="name">使用者姓名：</label>
                <input type="text" id="name" name="name" autocomplete="name" required />
                <label for="email">帳號 (Email)：</label>
                <input type="email" id="email" name="email" autocomplete="email" required />
                <label for="password">密碼：</label>
                <input type="password" id="password" name="password" autocomplete="current-password" required />
                <button type="submit">登入</button>
                <a href="/api/auth/register" class="btn">註冊</a>
            </form>

            <a href="/api/user/" class="link-forgot">忘記密碼?</a>

            <div class="footer">
                <a href="#" style="text-decoration:none; font-weight:800; color:#3aa3d1">Mi-tech</a> Copyright © 2019
            </div>
        </div>
    </div>

    <div id="modal-container"></div>
    <div id="modal-container-loading"></div>
    <div id="modal-container-2"></div>
    
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/js/login.js"></script>
</body>
</html>