
<form method="POST" enctype="multipart/form-data" action="/api/auth/export_data" class="modal-content" id="search_form">
    <div class="search-bar">
        <div class="filters">
            <div class="field">
                <label>上傳日期</label>
                <input class="input" type="text" id="dateRange" placeholder="2024/06/24-2024/09/24" value="<%= today_date %>~<%= today_date %>"/>
            </div>

            <div class="field">
                <label>上傳帳號</label>
                <select id="uploader">
                    <option value="all">全部</option>
                </select>
            </div>
            
            <div class="field">
                <label>分析狀態</label>
                <select id="status">
                    <option value="all">全部</option>
                    <option value="done">已完成</option>
                    <option value="pending">未完成</option>
                    <option value="not_started">未開始</option>
                </select>
            </div>

            <div class="field">
                <label>辨識分類結果標籤</label>
                <select id="category">
                    <option value="all">全部</option>
                    <option value="none">健康無病灶</option>
                    <option value="green">綠燈 (輕微等級)</option>
                    <option value="yellow">黃燈 (疑似嚴重等級)</option>
                    <option value="red">紅燈 (嚴重等級)</option>
                </select>
            </div>

            <div class="btn-row">
                <!-- <button type="button" class="btn btn-warning">匯入</button> -->
                <button type="button" class="btn btn-primary" id="btn-search">查詢</button>
                <!-- <button type="submit" id="export_data" name="action" value="export" class="btn btn-danger">匯出</button> -->
            </div>
        </div>
    </div>

    <div class="table-record-wrap">
        <table id="dataTable" aria-label="上傳紀錄表格">
            <thead>
            <tr>
                <th style="width:17%">影像案例編號</th>
                <th style="width:16%">建立日期</th>
                <th style="width:16%">上傳日期</th>
                <th style="width:16%">上傳人員</th>
                <th style="width:16%">分析狀態</th>
                <th>備註</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
    </div>
</form>

<div class="pagination" id="pagination"></div>

<div class="center-btn">
    <a href="/api/auth/dashboard" class="btn-return"> <%= t("return") %> </a>
</div>

<script id="rows-data" type="application/json">
  <%- JSON.stringify(grouped_records) %>
</script>

<div class="modal fade" id="viewAllRecordModal" tabindex="-1" aria-labelledby="viewAllRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" enctype="multipart/form-data" class="card p-4" id="all_record_form">
                <div class="modal-header custom-modal-header">
                    <h5 class="modal-title animated-title" id="viewAllRecordModalLabel">
                        <i class="fas fa-edit fa-beat"></i> 查看病歷紀錄
                    </h5>
                </div>

                <div class="modal-body">
                  <div class="form-inline mb-3">
                    <label class="form-label">影像案例編號</label>
                    <input name="f_case" class="form-control" readonly>
                  </div>
                  <div class="form-inline mb-3">
                    <label class="form-label">建立日期</label>
                    <input name="f_createtime" class="form-control" readonly>
                  </div>
                  <div class="form-inline mb-3">
                    <label class="form-label">上傳日期</label>
                    <input name="f_uploadtime" class="form-control" readonly>
                  </div>
                  <div class="form-inline mb-3">
                    <label class="form-label">上傳人員</label>
                    <input name="f_user" class="form-control" readonly>
                  </div>
                  <div class="form-inline mb-3">
                    <label class="form-label">分析狀態</label>
                    <input name="f_status" class="form-control" readonly>
                  </div>
                  <div class="form-inline mb-3">
                    <label class="form-label">備註</label>
                    <textarea name="f_notes" class="form-control" rows="3" readonly></textarea>
                  </div>
                </div>
                <div class="mt-3 d-flex gap-2 justify-content-end">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                </div>
                <div class="mt-3 d-flex gap-2 justify-content-end">
                  <button type="button" class="btn btn-primary"> 審核確認 </button>
                </div>
            </form>
        </div>
    </div>
</div>